.header {
    background-color: #1C1D21;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
}

.websiteName {
    margin-left: 0rem;
}

.nav {
    margin-left: 3rem;
}

.searchBar {
    margin-left: 5rem;
}

.logo {
    margin-left: auto;
}