.title {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9191E9;
}

.newsList {
    display: flex;
    flex-direction: column;
    gap: 24px;

  }
  
  .newsItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .headline {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
  }
  
  .sentiment {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .source {
    margin: 0;
    font-size: 0.9rem;
    color: #ffffff;
  }
  
  .bullish {
    color: #4CAF50;
  }
  
  .bearish {
    color: #F44336;
  }
  
  .mixed {
    color: #FFEB3B;
  }