.content {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense; 
  align-items: start;
  background-color: black;
}

.block:nth-child(1) { grid-column: 1; grid-row: 1; }
.block:nth-child(2) { grid-column: 1; grid-row: 2; }
.block:nth-child(3) { grid-column: 2; grid-row: 1; }
.block:nth-child(4) { grid-column: 2; grid-row: 2; }
.block:nth-child(5) { grid-column: 3; grid-row: 1/4; min-height: 650px;}


.block {
  background: #1C1D21;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  min-width: 250px;
  min-height: 300px;
}

.block h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.block h2:hover {
  color: #9191E9;
}

.block p {
  color: white;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  .block {
    background: #1C1D21;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .block h2 {
    color: #fff;
  }
  
  .block p {
    color: #ccc;
  }
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .content {
    grid-template-columns: 1fr;
  }
}